<p>
  <strong>plate:</strong>
  <%= @ticket.plate %>
</p>

<p>
  <strong>vtype:</strong>
  <%= @ticket.vtype%>
</p>
<p>
  <strong>Init:</strong>
  <%= @ticket.init%>
</p>
<p>
  <strong>Exit:</strong>
  <%= @ticket.exit%>
</p>
<strong>Price:</strong>
<%= @ticket.price%>
</p>


<%= link_to 'back', tickets_path %>
