<h1>Listing tickets</h1>

<table>
  <tr>
    <th>plate</th>
  </tr>

  <% @ticket.each do |ticket| %>
    <tr>
      <td><%= ticket.plate %></td>
      <td><%= link_to 'show', ticket_path(ticket) %></td>
      <td>  <%= link_to 'Delete Plate', ticket_path(ticket) method: :delete %></td>

    </tr>
  <% end %>
</table>

<%= link_to 'Log_out', new_session_path %>
<%= link_to 'new_ticket', new_ticket_path %>
